@-ms-viewport {
  width: device-width;
}

html, body {
  font-feature-settings: "ss02", "ss03";
}

html {
  font-family: $font-family;
  font-size:   100%;
}

body {
  color:            $body-color;
  background-color: $body-background-color;
  font-size: $base;
  line-height: 1.5;
  background-image: url("./bg.png");
  background-position: right -50px top -50px;
  background-repeat: no-repeat;

  &.dark {
    color: $body-color;
  }
}

//////////////
// Borders

.upper-border {
  position: relative;

  &:before {
    content: "";
    background-color: black;
    opacity: .06;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

//////////////
// Links

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

a {
  color:           $body-color;
  text-decoration: none;

  strong {
    color: inherit;
    font-weight: bold;
  }


  &.green {
    color: $scenarex-green;
  }

  .underline {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.more {
    color: inherit;
    font-size: 0.8em;
    opacity: 1;
    outline: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;

    &.menu {
      padding-top: 2em;
      margin-left: -6.5rem;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      animation: 1s ease-out 0s 1 slideInFromTop;
      @include breakpoint(small) {
        display: none;
      }
    }

    @include breakpoint(small) {
      display: none;
    }
  }
}



////////////////////////////
// Headings

h1, h2, h3, h4, h5, h6 {
  margin-bottom:  .5rem;
  font-weight:    700;
  line-height:    1.25;
  color:          $headings-color;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;

}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;

  &.big {
    font-size: $title2;
    font-weight: 800;
    letter-spacing: -1.25px;
    margin: $title2 0;
    color: #007F8D;
  }

  &.biggest {
    font-size: $title1;
    font-weight: 800;
    letter-spacing: -1.25px;
    margin: $title2 0;
    color: #007F8D;

    @include breakpoint(small) {
      font-size: $title2;
      margin-top: 0;
    }

  &.centered {
    text-align: center;
  }
  }

  &.mt {
    margin-top: 3em;
    margin-bottom: 1em;
  }
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}
.mt h2 {
  margin-top: 3em;
  margin-bottom: 1em;
}

.biggest h2 {
  font-size: $title1;
  font-weight: 800;
  letter-spacing: -1.25px;
  margin: $title2 0;
  color: #007F8D;

  @include breakpoint(small) {
    font-size: $title2;
    margin-top: 0;
  }
}
.big h2 {
  font-size: $title2;
  font-weight: 800;
  letter-spacing: -1.25px;
  margin: $title2 0;
  color: #007F8D;
}
/////////////
// Body text
.smaller p {

  font-size: $smaller;
  margin-top: 4em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;

  &.smaller {
    font-size: $smaller;
    margin-top: 4em;
  }
  &.smaller_close {
    font-size: $smaller;
    margin-top: 1em;
  }
  &.bigger {
    font-size: $title1;
    margin-top: 0em;
    text-align: center;
  }
}

strong {
  color: $strong-color;
  font-weight: bold;
}
em {
  font-style: italic;
}


/////////////
// Lists

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: 700;
}
dd {
  margin-bottom: .5rem;
}


//////////////////////
// Code

code,
pre {
  font-family: $code-font-family;
}
code {
  padding: .25em .5em;
  font-size: 85%;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  background-color: $pre-background-color;

  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
}


/////////////////////
// Quotes

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $blockquote-color;
  border-left: .25rem solid $blockquote-border-color;

  p:last-child {
    margin-bottom: 0;
  }
}


img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;

  &.grey {
    @include vendor("filter", "grayscale(100%)");

    &:hover {
      @include vendor("transition", "1s ease");
      @include vendor("filter", "grayscale(0)");
    }
  }
}


//////////////////////
// Tables

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;

  td,
  th {
   padding: .25rem .5rem;
   border: 1px solid $table-border-color;
  }

  tr:nth-child(odd) td,
  tr:nth-child(odd) th {
    background-color: $table-odd-background-color;
  }
}

//////////////////////
// Forms

button {
  background-color: #233D4D;
  color: #fff;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  height: 2.75rem;
  padding: 0 2.75rem;
  margin: .25rem 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-family: $font-family;

  &.success {
    background-color: #3BB273;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  &.error {
    background-color: #E15554;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  &:hover {
    background-color: #3BB273;
  }
}

input[type=text], input[type="email"] {
  background: rgba(0, 0, 0, 0.0375);
  height: 2.75rem;
  border-radius: 2px;
  border: none;
  padding: 0 1em;
  margin: .25rem 0;
  font-size: 1rem;
  width: 100%;
  font-family: $font-family;
}

///////////////////////////////////////////////////
//  Masthead

header {
  display: flex;
  justify-content: space-between;

  nav {
    width: 60%;
    overflow: hidden;
    margin-top: 1rem;

    @include breakpoint(small) {
      //width: inherit;
      text-align: right;
    }

    > ul {
      white-space: nowrap;
      display: flex;
      justify-content: space-between;

      @include breakpoint(small) {
        flex-direction: column;
      }

      > li {
        display: inline-block;

        > a {
          color: $masthead-color;
          opacity: .5;

          &.active {
            color: $masthead-color;
            opacity: 1;
            border-bottom: 2px solid $masthead-color;
          }
        }
      }
    }
  }

}

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 20vh;

 .masthead-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $masthead-color;

    @include breakpoint(small) {
      font-size: 1.5rem;
    }

    a {
      color: $masthead-color;
      text-decoration: none;
    }

    small {
      color: $masthead-small-color;
      letter-spacing: 0;
    }
  }
}

.activeLang {
    color: $masthead-color;
    opacity: 1;
}
.lang {
    color: $masthead-color;
    opacity: 0.5
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.icon-background {
    color: #fff;
    border: 6px solid $masthead-color;
    border-radius: 50%;
}


///////////////////////////////////////////////////
//  Footer

footer {
  padding-top: 2.25rem;
  margin-top: 6.75rem;

  .copyright {
    font-size: $smaller;
    margin: 2.25em 0 2.25em 0;
  }

  a {
    color: $body-color;

    &:hover {
      color: $scenarex-green;
    }
  }
}


//////////////////////////
// Posts

.news {
  @include breakpoint(small) {
    margin-bottom: 1em;
  }
}

.post {
  margin-bottom: 4em;
  font-weight: 300;

  // note: only change margin for title,date if inside post block
  .post-title {
    margin-top: 0;
  }

  // Meta data line below post title
  .post-date {
    display: block;
    margin-top:  1.25rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: initial;
    padding-left: $base;
  }
  a {
    text-decoration: underline;

  &:hover {
    color: $scenarex-green;
  }
}
}

.post-title a {
  color: $body-color;

  &:hover {
    color: $scenarex-green;
  }
}

.post-date {
  color: $post-date-color;
}

//////////////////////////
// Bookchain

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    padding: 1em 2em 2em 6em;
    margin: 0 0 2em 0;
    display: block;
    border: 1px solid $body-color;

    svg {
      color: #3bb273;
      display: block;
      position: relative;
      left: -1.5em;
      top: 1.25em;
    }
  }
}

.center_text {
  text-align: center;
}

.timeline {
  box-sizing: border-box;
  position: relative;
  margin-top: 70px;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    left: calc(30% + 2px);
    width: 4px;
    background: $body-color;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .entry {

    margin-top: 70px;

    &:after {
      display: block;
      content: "";
      clear: both;
    }

    .time {
      float: left;
      width: 30%;
      padding-right: 70px;
      text-align: right;
      position: relative;

      h5 {
        margin-top: 0;
      }

      &:before {
        content: '';
        position: absolute;
        background-color: $body-background-color;
        width: 20px;
        height: 20px;
        border: 4px solid $body-color;
        border-radius: 100%;
        top: 0;
        right: -14px;
        z-index: 99;
      }
    }

    .body {
      float: right;
      width: 70%;
      padding-left: 70px;
      margin-top: -2px;
      font-size: $smaller;

      h3 {
        margin-top: 0;
      }

      &:after {
        clear: both;
      }
    }
  }
}

.mtd {
  padding-top: 6.75rem;
}
