@import './skel.scss';

  @include skel-breakpoints((
    xlarge: "(max-width: 1680px)",
    large:  "(max-width: 1280px)",
    medium: "(max-width: 980px)",
    small:  "(max-width: 736px)",
    xsmall: "(max-width: 480px)"
  ));

	@include skel-layout((
		reset:    "full",
		boxModel: "border",
    containers: 75rem,
    grid: ( gutters: 3em ),
    breakpoints: (
      small: (
        containers: 90%,
        grid: ( gutters: 3em )
      )
    )
	));

@import "./scenarex.scss";
