<section class="masthead">
  <p>We partner with talented people to build blockchain publishing solutions</p>
</section>

<section class="masthead upper-border">
  <h2 class="big">Our Partners & Advisors</h2>
  <div class="row flex 50%">
    <div class="25u 12u$(small) flex">
      <a href="https://www.cmf-fmc.ca/">
        <img class="grey" src="/assets/images/cmf.png" style="max-height: 60px">
      </a>
    </div>
    <div class="25u 12u$(small) flex">
      <a href="http://www.bcf.ca/en">
        <img class="grey" src="/assets/images/bcf.png" style="max-height: 70px">
      </a>
    </div>
    <div class="25u 12u$(small) flex">
      <a href="http://www.bradytypesetting.com/">
        <img class="grey" src="/assets/images/brt.png" style="max-height: 70px">
      </a>
    </div>
    <div class="25u 12u$(small) flex">
      <a href="https://www.nrc-cnrc.gc.ca/">
        <img class="grey" src="/assets/images/cnrc.png" style="max-height: 70px">
      </a>
    </div>
    <div class="25u 12u$(small) flex">
      <a href="https://www.w3.org/">
        <img class="grey" src="/assets/images/w3c.png" style="max-height: 70px">
      </a>
    </div>
  </div>
</section>

<section class="masthead upper-border">
  <h2 class="big">Our Tools & Technologies</h2>
  <div class="row inline flex">
    <div class="3u 12u$(small) flex">
      <span class="fa-layers fa-fw fa-8x">
        <i class="fa fa-circle icon-background"></i>
        <i class="fab fa-ethereum" data-fa-transform="shrink-6"></i>
      </span>
      <h2><a href="https://www.ethereum.org/">Ethereum</a></h2>
      <p>We're building on an open blockchain: a decentralized platform.</p>
    </div>
    <div class="3u 12u$(small) flex">
      <span class="fa-layers fa-fw fa-8x">
        <i class="fa fa-circle icon-background"></i>
        <i class="fab fa-aws" data-fa-transform="shrink-6"></i>
      </span>
      <h2><a href="https://serverless.com/">Serverless AWS</a></h2>
      <p>Scalable architecture and simplified deployment and infrastructure.</p>
    </div>
    <div class="3u 12u$(small) flex">
      <span class="fa-layers fa-fw fa-8x">
        <i class="fa fa-circle icon-background"></i>
        <i class="fab fa-node" data-fa-transform="shrink-6"></i>
      </span>
      <h2><a href="https://nodejs.org/">Node.js® + Javascript</a></h2>
      <p>Lightweight client-side development and an efficient server environment.</p>
    </div>
    <div class="3u 12u$(small) flex">
      <span class="fa-layers fa-fw fa-8x">
        <i class="fa fa-circle icon-background"></i>
        <i class="fab fa-python" data-fa-transform="shrink-6"></i>
      </span>
      <h2><a href="https://www.python.org/">Python</a></h2>
      <p>Consistent workhorse for developing complex multi-protocol applications.</p>
    </div>
  </div>
</section>
