<section class="masthead">
  <p>Nous travaillons en partenariat avec des gens talentueux pour créer des solutions d’édition blockchain</p>
</section>

<section class="masthead upper-border">
  <h2 class="big">Nos partenaires & conseillers</h2>
  <div class="row flex 50%">
    <div class="25u 12u$(small) flex">
      <a href="https://www.cmf-fmc.ca/">
        <img class="grey" src="/assets/images/fmc.png" style="max-height: 50px">
      </a>
    </div>
    <div class="25u 12u$(small) flex">
      <a href="http://www.bcf.ca/en">
        <img class="grey" src="/assets/images/bcf.png" style="max-height: 70px">
      </a>
    </div>
    <div class="25u 12u$(small) flex">
      <a href="http://www.bradytypesetting.com/">
        <img class="grey" src="/assets/images/brt.png" style="max-height: 70px">
      </a>
    </div>
    <div class="25u 12u$(small) flex">
      <a href="https://www.nrc-cnrc.gc.ca/">
        <img class="grey" src="/assets/images/cnrc.png" style="max-height: 70px">
      </a>
    </div>
    <div class="25u 12u$(small) flex">
      <a href="https://www.w3.org/">
        <img class="grey" src="/assets/images/w3c.png" style="max-height: 70px">
      </a>
    </div>
  </div>
</section>

<section class="masthead upper-border">
  <h2 class="big">Nos outils & technologies</h2>
  <div class="row inline 50%">
    <div class="3u 12u$(small) flex">
      <span class="fa-layers fa-fw fa-8x">
        <i class="fa fa-circle icon-background"></i>
        <i class="fab fa-ethereum" data-fa-transform="shrink-6"></i>
      </span>
      <h2><a href="https://www.ethereum.org/">Ethereum</a></h2>
      <p>Nous construisons sur une blockchain ouverte: une plateforme décentralisée.</p>
    </div>
    <div class="3u 12u$(small) flex">
      <span class="fa-layers fa-fw fa-8x">
        <i class="fa fa-circle icon-background"></i>
        <i class="fab fa-aws" data-fa-transform="shrink-6"></i>
      </span>
      <h2><a href="https://serverless.com/">Serverless AWS</a></h2>
      <p>Architecture évolutive ainsi que déploiement et infrastructure simplifiés.</p>
    </div>
    <div class="3u 12u$(small) flex">
      <span class="fa-layers fa-fw fa-8x">
        <i class="fa fa-circle icon-background"></i>
        <i class="fab fa-node" data-fa-transform="shrink-6"></i>
      </span>
      <h2><a href="https://nodejs.org/">Node.js® + Javascript</a></h2>
      <p>Développement léger côté client et environnement de serveur efficace.</p>
    </div>
    <div class="3u 12u$(small) flex">
      <span class="fa-layers fa-fw fa-8x">
        <i class="fa fa-circle icon-background"></i>
        <i class="fab fa-python" data-fa-transform="shrink-6"></i>
      </span>
      <h2><a href="https://www.python.org/">Python™</a></h2>
      <p>Bête de somme pour développer des applications multi-protocoles complexes.</p>
    </div>
  </div>
</section>
