---
layout: default
title: Nouvelles
permalink: /fr/nouvelles
ref: news
lang: fr
---

<h2 class="biggest">Nouvelles</h2>
{% assign posts=site.posts | where:"lang", page.lang %}
{% for post in posts %}
{% unless post.categories contains "external" %}
<div class="news">
  {{ post.date | date: "%Y-%m-%d" }}
    <i class="fas fa-angle-right"></i>
  <span class='post-title'>
    <a href="{{ site.path }}{{ post.url }}">{{ post.title }}</a>
  </span>
</div>
{% endunless %}
{% endfor %}

<h2 class="big">Presse</h2>

{% assign press=site.posts | where:"lang", page.lang %}
{% for post in press %}
{% if post.categories contains "external" %}
<div>
  <span class='post-title'>
    <h3>{{ post.source }}</h3>
    <a href="{{ post.external_url }}">{{ post.title }} <i class="fas fa-external-link-alt"></i></a>
  </span>
</div>
{% endif %}
{% endfor %}
